<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Searchbar</title>
		<link rel="stylesheet" href="styles/bootstrap.min.css">
		<link rel="stylesheet" href="styles/style.css">
	</head>
	<body>
		<h1 class="text-center display-2 my-4">SVT-<span>APL</span> Searchbar for statistical analysis stuff</h1>
		<div class="container d-flex justify-content-center align-items-center my-5">
			<form action="#" id="search-form" class="d-flex justify-content-center">
				<input list="shows" id="search-bar" class="form-control-lg" placeholder="Search here" id="search-bar">
				<button id="search-button" class="form-control-lg" type="submit"><i class="fas fa-search"></i></button>
			</form>
		</div>

		<datalist id="shows">
			{% for row in site.data.dataTable2[0] %}
				{% if forloop.first  %}
					{% continue %}
				{% endif %}
			
				<option value="{{ row[0] }}"></option>

			{% endfor %}
		</datalist>
		
		<script src="https://kit.fontawesome.com/ee2129c6a0.js" crossorigin="anonymous"></script>
		<script src="scripts/jquery-3.6.0.min.js"></script>
		<script src="scripts/bootstrap.min.js"></script>
		<script src="scripts/main.js"></script>
	</body>
</html>