$border-color: #000000
$text-color: #ffffff
$svt-green: rgb(0,200,0)

$search-bar-radius: 2rem
$search-bar-border-width: 3px

body
    background-color: #0B0C0D

h1
    color: $text-color

    span
        color: $svt-green

#search-form
    border-color: $text-color
    border-style: solid

    border-radius: $search-bar-radius

    transition: border-width .3s, border-color .3s

    &:active, &:focus, &:hover
        
        border-width: $search-bar-border-width
        border-color: $svt-green

        outline: 0
        transition: border-width .3s, border-color .3s
    

#search-button
    border-left: none !important
    margin-left: 0 !important

    border-width: $search-bar-border-width
    border-color: $text-color
    border-style: solid

    border-top-right-radius: $search-bar-radius
    border-bottom-right-radius: $search-bar-radius

#search-bar
    margin-right: 0 !important
    border-right: 0 !important

    border-width: $search-bar-border-width
    border-color: $text-color
    border-style: solid

    border-top-left-radius: $search-bar-radius
    border-bottom-left-radius: $search-bar-radius

    transition: width .3s
    width: 250px

    &:active, &:focus
        outline: 0
        transition: width .3s
        width: 420px 

#title-amount
    transition: width .3s
    width: 110px
    border: none
    border-left: 1px solid black

    &:active, &:focus
        outline: 0
        transition: width .3s
        width: 200px

.form-control-lg
    border-radius: 0

#distance-button
    $distance-button-transition: .2s

    margin: none
    border-width: 1px
    border-color: #ffffff00
    outline: none

    min-width: 9.5rem

    border-radius: $search-bar-radius

    transition: border-width $distance-button-transition

    &:active
        border: $search-bar-border-width solid $svt-green
        
    &.activated
        border: $search-bar-border-width solid $svt-green
        transition: border-width $distance-button-transition


#search-results
    color: white
    list-style: none

    display: flex
    flex-direction: column

    #search-results-text
        text-decoration: underline
        text-decoration-thickness: 2.5px

        span
            color: $svt-green

    li
        list-style: none
        position: relative

.plus-button
    color: $svt-green
    background: none !important
    border: none

    &:hover, &:focus
        border: none
        outline: none
        

.distance-measurement
    display: inline
    color: $svt-green

    opacity: 0%
    transition: opacity .2s

    &.show
        opacity: 100%
        transition: opacity .2s

.inline-search-wrapper
    position: fixed

    height: 100%
    width: 100%

    background-color: #181b1d65
    z-index: 99

    top: 0
    left: 0

    cursor: pointer

.inline-search-results
    position: absolute

    color: $text-color
    background-color: #181b1d
    
    border-color: $svt-green
    border-width: 2px
    border-style: solid

    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

    z-index: 100

    cursor: default

    h3

        span
            color: $svt-green

    ul
        list-style: none

        li
            font-size: 2rem