$border-color: #000000
$text-color: #ffffff
$svt-green: rgb(0,200,0)

$search-bar-radius: 2rem
$search-bar-border-width: 3px

body
    background-color: #0B0C0D

h1
    color: $text-color

    span
        color: $svt-green

#search-button
    border-left: none !important
    margin-left: 0 !important

    border-width: $search-bar-border-width
    border-color: $text-color
    border-style: solid

    border-top-right-radius: $search-bar-radius
    border-bottom-right-radius: $search-bar-radius

#search-bar
    margin-right: 0 !important
    border-right: 0 !important

    border-width: $search-bar-border-width
    border-color: $text-color
    border-style: solid

    border-top-left-radius: $search-bar-radius
    border-bottom-left-radius: $search-bar-radius

    transition: .3s
    width: 230px

    &:active, &:focus
        border-width: $search-bar-border-width
        outline: 0
        border-color: $svt-green

        transition: .3s
        width: 400px 

.form-control-lg
    border-radius: 0

#search-results
    color: white
    list-style: none

    li
        list-style: none

        span
            display: none
        span.show
            display: inline
