{% extends "dist_search/base.html" %}

{% load sass_tags %}
{% load static %}

{% block content %}

<ul id="search-results" class="container">
	{% if error %}
		<p id="error-text" class="display-6"><span>{{ search }}</span> is not a valid title, please re-check your spelling and try again</p>
	{% else %}
		{# Generates search results #}
		{% for list_title in list_of_titles|slice:"1:" %}
			{# Creates search results header on first loop #}
			{% if forloop.first %}
				<div id="search-results-text-wrapper" class="container d-flex justify-content-between align-items-center">
					<h2 id="search-results-text" class="display-4">Search results for: <span>{{search}}</span></h2>
					<button id="distance-button" class="button p-2">Display distance</button>
				</div>
			{% endif %}

			<span class="search-item-wrapper">
				<li id="{{list_title.0}}" name="inline-search-title" class="list-title display-6 p-2" show-title="{{list_title.0}}">
					<form class="d-inline" action="calculate_inline_distance" method="GET">
						<input class="plus-button" type="submit" value="{% if list_title.0 == inline_search %}>{% else %}+{% endif %}">
						<input type="hidden" name="inline-search-title" value="{{list_title.0}}"/>
						<input type="hidden" name="search-title" value="{{search}}"/>
						<input type="hidden" name="title-amount" value="{{title_amount}}">
					</form>
					{{list_title.0}} 
					<span class="distance-measurement">
						- {{list_title.1}}
					</span>
				</li>
				{# Puts inline search results under correct title #}
				{% if list_title.0 == inline_search %}
					<ul>
						{% for inline_list_title in inline_list_of_titles|slice:"1:" %}
							<li class="text-light">{{inline_list_title.0}} - <span class="inline_distance">{{inline_list_title.1}}</span></li>
						{% endfor %}
					</ul>
				{% endif %}
			</span>
		{% endfor %}
	{% endif %}
</ul>

<a id="back-to-top" href="#body" class="display-5 py-2 px-4 rounded-circle">
	<i class="fas fa-chevron-up"></i>
</a>

{% endblock content %}