<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Titel</title>
		<link rel="stylesheet" href="styles/bootstrap.min.css">
		<link rel="stylesheet" href="styles/style.css">
	</head>
	<body>
		<h1 class="text-center display-2 mt-2">SVT-APL Searchbar for statistical analysis stuff</h1>
		<div class="container d-flex justify-content-center align-items-center my-5">
			<form action="#" id="search-form">
				<div class="form-group">
					<input class="form-control-lg" type="text" placeholder="Search here" id="search-bar">
					<input class="form-control-lg" type="submit" value="Search">
				</div>
			</form>
		</div>

		<script src="scripts/jquery-3.6.0.min.js"></script>
		<script src="scripts/bootstrap.min.js"></script>
		<script src="scripts/main.js"></script>
	</body>
</html>